* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    position: absolute;
    top: 20px;
    width: 100%;
    color: white;
    color: rgb(229,9,20);
}

header nav ul{
    list-style: none;
    width: max(220px,70%);
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    cursor: pointer;
    font-size: 45px;
    font-weight: bolder;
}

.logo_design{
    font-family: monospace;
    font-size: .7em;
}

a{
    background-color: rgb(229,9,20);
    border-radius: 8px;
    padding: 6px 14px;
    color: white;
}

a:hover,button:hover{
    background-color: rgb(151, 0, 8);
}

main{
    height: max(100dvh,500px);
    color: whitesmoke;
   background-image: url("https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-blend-mode:hue;
    background-attachment: fixed;
    background-position: bottom;
    padding-top: 100px;
}

.center_data,form,.downlod_data,.about_section,footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family:'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.title p{
    margin-bottom: 30px;
}

.input_box{
    width: min(90dvw,600px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

.input_box input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    border: none;
    padding:0 10px;
    border-radius: 10px;
    color: aliceblue;
}

input::placeholder{
    color: aliceblue;
}

.input_box div{
    width: 35px;
    height: 40px;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    right: 3px;
    border-left: 5px solid whitesmoke;
}

.input_box i{
    margin: 5px;
}

.quality{
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

#quality{
    color: aliceblue;
    background: transparent;
    border:3px solid whitesmoke;
    width: 60px;
    font-weight: 600;
    border-radius: 10px;
    height: 33px;
    cursor: pointer;
}

option{
    background-color: black;
}

.downlod_data{
    display: none;
    margin-top: 20px;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    /* border: 2px solid whitesmoke; */
}

button{
    cursor: pointer;
    padding:10px;
    color: white;
    margin: auto;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(229,9,20);
    /* transition: all 1ms ease-in-out 0ms; */
}

#about{
    background-color: black;
    color: whitesmoke;
    border: 5px solid rgb(143, 143, 144);
    border-width:5px 0;
    font-family: sans-serif;
    background-image: url("https://plus.unsplash.com/premium_photo-1682096600433-4e35c2aab53d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about_section h2{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
}

.line{
    width: 50px;
    height: 5px;
    margin:5px;
    border-radius: 10px;
    background-color: rgb(143, 143, 144);
}

.about_card{
    font-size: 25px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border-width:5px 0;
    padding: 40px;
}

.rev{
    flex-wrap: wrap;
    border: none;
}

.about_card p{
    width:max(60%,250px);
}

.about_card p::first-letter{
    font-size: 30px;
}

img{
    width: min(300px,90dvw);
    border-radius: 20px;
}

footer{
    padding-top: 30px;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: black;
    text-align: center;
}

p{
    text-align: center;
}

.arrange_footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.social{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.social i{
    cursor: pointer;
}

.social i:hover{
    border-radius: 20px;
    padding: 2px;
    font-size: 25px;
    background-color: aliceblue;
    color: black;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #loader{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  @media screen and (max-width:600px) {
    .title{
        font-size: 25px;
    }
  }
  @media screen and (max-width:300px) {
    .title{
        font-size: 20px;
    }
  }